@import 'tailwindcss';

@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(:not(.light), :not(.light) *) {
      @slot;
    }
  }
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', 'Noto Sans Devanagari', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'Playfair Display', 'Noto Sans Devanagari', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
@import './index.css';

.rich-text-editor {
  position: relative;
  z-index: 1;
}
.rich-text-editor .ck-editor__editable {
  min-height: 400px;
}
.rich-text-editor .ck-editor__top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 1px solid #e2e8f0;
  border-bottom: none;
}
.rich-text-editor .ck-editor__main {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid #e2e8f0;
}
.rich-text-editor .ck-editor__editable:focus {
  box-shadow: none;
  border-color: #2563EB;
}